VITE_ADO_ORG=buildertrend
VITE_ADO_PROJECT=BuildertrendProjects
VITE_ADO_TEAM=Flannel
VITE_ADO_REVIEWER_GROUP_ID=your_reviewer_group_id_here
VITE_STUCK_HOURS_THRESHOLD=5
GIT_REPO_ROOT=C:/repos/BTNet
AZURE_DEVOPS_PAT=your_pat_here
